<!DOCTYPE html>
<html>

<head>
<base href="http://tour.diabetes.org/site/PageServer?pagename=TC_PC2_Support_Survey_ty" />
<title>American Diabetes Association:  </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="Keywords" content=" " />
<meta name="Description" content="" />
<meta name="Robots" content="index, follow" />









<script type="text/javascript" src="../yui3/yui/yui-min.js"></script><noscript>&nbsp;</noscript>
<script type="text/javascript" src="../js/convio/modules.js?version=2.9"></script><noscript>&nbsp;</noscript>
<script type="text/javascript">
var Y = YUI({base: '../yui3/',
insertBefore: 'yui_marker_loader_css', // insert all YUI module css before customstyle so it can be overridden
debug: false, 
modules: getModules('../', 'convio', false)});
</script><noscript>&nbsp;</noscript>




<script type="text/javascript" src="../js/utils.js"></script><noscript>&nbsp;</noscript>

<script type="text/javascript" src="../js/obs_comp_rollup.js"></script><noscript>&nbsp;</noscript>


<link href="../css/themes/default.css" rel="stylesheet" type="text/css" />
<link href="../css/themes/alphacube.css" rel="stylesheet" type="text/css"/>


<link href="../css/UserGlobalStyle.css" rel="stylesheet" type="text/css" />




<link rel="stylesheet" type="text/css" id="yui_marker_loader_css" />
<link href="../css/CustomStyle.css" rel="stylesheet" type="text/css" />
<link href="../css/CustomWysiwygStyle.css" rel="stylesheet" type="text/css" />






<meta name="CnvHeaderVersion" content="v5.0" />


<!-- ADDITIONAL METAS -->
<!--<meta name="author" content="Daniel Hartanto" />-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8"/>

<!-- SOCIAL MEDIA METAS -->
<!--facebook-->
<meta property="og:type" content="website" />
<meta property="og:url" content="http://tour.diabetes.org/site/PageServer?pagename=TC_PC2_Support_Survey_ty" />
<meta property="og:image" content="http://main.diabetes.org/ws/tr/tr2014/img/Tour-og-image.jpg" />
<meta property="og:image:secure_url" content="https://donations.diabetes.org/ws/tr/tr2014/img/Tour-og-image.jpg" />
<meta property="fb:admins" content="daniel.hartanto" />
	
<!-- Social: Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@AmDiabetesAssn" />
<meta name="twitter:creator" content="@AmDiabetesAssn" />
<meta name="twitter:title" content="Tour de Cure: American Diabetes Association" />
<meta name="twitter:description" content="American Diabetes Association's Tour de Cure: a series of fundraising cycling events held nationwide. The Tour is a ride, not a race, with routes designed for everyone from the occasional rider to the experienced cyclist." />
<meta name="twitter:image:src" content="https://donations.diabetes.org/ws/tr/tr2014/img/Tour-og-image.jpg" />
<meta name="twitter:url" content="http://tour.diabetes.org/site/PageServer?pagename=TC_PC2_Support_Survey_ty" />
<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="Tour de Cure: American Diabetes Association" />
<meta itemprop="description" content="American Diabetes Association's Tour de Cure: a series of fundraising cycling events held nationwide. The Tour is a ride, not a race, with routes designed for everyone from the occasional rider to the experienced cyclist." />
<meta itemprop="image" content="https://donations.diabetes.org/ws/tr/tr2014/img/Tour-og-image.jpg" />

<link rel="shortcut icon" href="../images/ada_favicon.ico" type="image/vnd.microsoft.icon" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
//fallback reload 1.6.4 if LO jQuery throws undefined 
if (!window.jQuery) {
  var jqlo = document.createElement('script'); 
  jqlo.type = 'text/javascript';  
  jqlo.src = '../ws/js/jquery164.min.js';
  document.getElementsByTagName('head')[0].appendChild(jqlo);
}
</script>

<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="../ws/css/magnific-popup-min.css">
<link rel="stylesheet" href="../ws/owl24/assets/owl.carousel.css">


<link href="../ws/tr/tr2017/css/tc2017min.css" rel="stylesheet">

<!--[if lt IE 9]>
<link href="../ws/tr/tr2017/css/tc2017min_ie.css" rel="stylesheet">
<![endif]-->


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="../ws/js/respond_fix.js" type="text/javascript"></script></script>
<![endif]-->

<!-- Google Analytics -->
<script type="text/javascript">
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}
function checkCookie(whichCookie) {
    var ftimereg=getCookie(whichCookie);
    if (ftimereg=="y") {
        return true;
    }
}
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//Initiation 
ga('create', 'UA-2200333-63', 'auto');


//Initiation -66
ga('create', 'UA-2200333-66', 'diabetes.org', 'REDtracker');

//Logged In - Custom Dimension 1

//Source Code - Custom Dimension 2


//Convio Fix for referrers
if (typeof CONVIO!="undefined" && CONVIO){
    if (CONVIO.referrer.length != 0) {
	  ga('set', 'referrer', CONVIO.referrer);      
    }
}

//this will pass the entire Convio Page URL
ga('send', 'pageview', 'http://tour.diabetes.org/site/PageServer?pagename=TC_PC2_Support_Survey_ty');

//REDtracker
var rturl = document.location.href;
rturl = rturl.toLowerCase();
if ((
(rturl.indexOf("/site/donation2")  >=0) 
|| (rturl.indexOf("donations.diabetes.org/site/spageserver?") >=0)
|| (rturl.indexOf("donations.diabetes.org/site/spagenavigator") >=0)
|| (rturl.indexOf("www.diabetes.org") >=0) 
|| (rturl.indexOf("/goh/")  >=0) 
)
&&  (!(rturl.indexOf("fr_id=")>=0 )) 
&&  (!(rturl.indexOf("NEXTURL=")>=0 ))
)
{
 //console.log('URL:' + rturl.indexOf("donations.diabetes.org/site/spagenavigator"));
 //console.log(document.location.href.indexOf("donations.diabetes.org/site/SPageNavigator/"));
//First clean up and break the main URL 
    var trackingURL;
    var baseURL=[];
    if (rturl.indexOf(";jsessionid") >= 0) //take out the session id
	{ 
	       rturl = rturl.substring(0,rturl.indexOf(";jsessionid")) + rturl.substring(rturl.indexOf("?"));
		
	} 

    if (rturl.indexOf("#sthash") >= 0) //take out the sthash
	{ 
	       rturl = rturl.substring(0,rturl.indexOf("#sthash"));
		
	} 	 


	if (rturl.indexOf("?") >= 0)
		{ 
 
        	baseURL = rturl.split("?");
                //console.log('baseURL: ' + baseURL);
		} 
	else 
		{	
            baseURL[0] = rturl;	
            //console.log('baseURL2: ' + baseURL[0]);	
		}


		if (rturl.indexOf("www.diabetes.org") >=0) 
		{
			trackingURL= baseURL[0];
                        //console.log('trackingURL1: ' + trackingURL);
		}
		else 
		{
			//Start the formatting process 
			trackingURL= baseURL[0]+"?"; 
                        //console.log('trackingURL2: ' + trackingURL);
			
	 //for URLs with no parameters
		if (!(baseURL[1])) {
                    var paramsURL = baseURL[0].split("&");
               } else {
                  var paramsURL = baseURL[1].split("&");
                      } 
	
		//this is only for dForms -- move inside IF
		for (var i=0;i<paramsURL.length;i++)
		{ 
			if  (paramsURL[i].indexOf("df_id")!=-1){
			trackingURL = trackingURL  +  paramsURL[i]+"&";
                        //console.log('trackingURL3: ' + trackingURL);
                break;
                        
			}
		}
    
		for (var i=0;i<paramsURL.length;i++)
		{ 
			if  (paramsURL[i].indexOf(".donation=")!=-1) { 
			trackingURL = trackingURL  +  paramsURL[i];
                        //console.log('trackingURL4: ' + trackingURL);
                break;
                        
			}
		}	

		for (var i=0;i<paramsURL.length;i++)
		{ 
			if (paramsURL[i].indexOf("pagename")!=-1) {
			trackingURL = trackingURL  +  paramsURL[i];
                        //console.log('trackingURL5: ' + trackingURL);
                break;
			}
		}	
	
		} //End of formatting process for dForms
            //console.log('trackingURL6a: ' + trackingURL);
		if (trackingURL.indexOf("https") >= 0) {
			trackingURL = trackingURL.replace(/^https?:\/\//,'');
                        //console.log('trackingURL6: ' + trackingURL);
		} else { 
			trackingURL = trackingURL.replace(/^http?:\/\//,'');
                        //console.log('trackingURL7: ' + trackingURL);
		}
		
	//end else if there is URL parameter

//Track the reformatted URL as a pageview 
 ga('REDtracker.send','pageview', trackingURL);
//console.log('pageview: ');
//console.log(trackingURL);
} //End Tracking condition.
//Redtracker

ga('require', 'ecommerce','ecommerce.js');
//ecommerce donation thank you


//ecommerce registration thank you



//REDTracker


 

</script>
<!-- End Google Analytics -->


<!-- RED reus portion -->


<!-- not a donation form, no error tracking -->







<!-- AddThis -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56f3ff4c77f76ada"></script>

 

</head>
<body












class="mobile"
>	

<!-- Google Tag Manager -->
<!-- Universal Container -->
<script type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5QPFWP');</script>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5QPFWP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Tour Container -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WZXL5M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZXL5M');</script>
<!-- End Google Tag Manager -->

<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;js.async=true;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="isTRRegClose" style="display:none;">

</div>
<div id="so16_topnav">
<div class="centerDiv" style="height:inherit;">
<div id="so16logo"><a href="http://tour.diabetes.org/"><img src="../ws/tr/tr2017/img/tour2.png" style="margin-top:8px;" border="0" /></a></div>
<div id="so16cta">
<a id="topnavctareglink" class="bluewhite-btn-cta" href="javascript:void(0);">
<div class="cta-txt cta-txt-blue">Register <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></div>
</a>
<a id="topnavctadonatelink" class="redtxt-btn-cta" href="javascript:void(0);"><div class="cta-txt">Donate <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></div>
</a>
<a id="topnavctaloginlink" class="redtxt-btn-cta" href="javascript:void(0);">
<div class="cta-txt" >Log In <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></div>
</a>
<a id="topnavctaothermenus" class="redtxt-btn-cta" href="javascript:void(0);">
<div id="redhamburger" style="background-color:#C41230;height:100%;color:#FFF;">
<i class="fa fa-bars" style="font-size:48px;"></i>
<div class="clear:both;margin-top:1px;margin-bottom:1px;"><span style="font-size:20px;">menu</span></div>
</div>
</a>
<i id="ctamobilemenu" class="fa fa-bars fa-3x"></i>
</div>
<div class="clearDiv">&nbsp;</div>
</div>
</div>

<div id="so16_topnav_subblue">

<div id="registerctamobile" class="ctamobilenav">Register <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></div>
<div id="donatectamobile" class="ctamobilenav">Donate <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></div>
<div id="loginctamobile" class="ctamobilenav">Log In <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></div>

<div class="centerDiv" style="text-align:center;">

<div class="clearDiv" style="height:0px;">&nbsp;</div>

<div id="topnavwalksearch" style="background-color:#C41230;">
<div id="searchByZipBoxCTA">
<form id="searchwalkbyzipform">
<div id="selectedZipValCTA" style="padding:10px; display:inline-block; zoom:1;*display:inline;/*border:solid 1px #D0D0D0;*/width:80px;background-color:#FFF;">Distance</div>
<button class="dropdown-toggle" data-toggle="dropdown" style="padding:9px;">
    <span class="fa fa-chevron-down"></span>
</button>
<ul id="zipmilesdropdownCTA" class="dropdown-menu">
<li class="zipvaloptcta">25 MI</li>
<li class="zipvaloptcta">50 MI</li>
<li class="zipvaloptcta">75 MI</li>
<li class="zipvaloptcta">100 MI</li>
<li class="zipvaloptcta">200 MI</li>
</ul>
<input type="text" id="zipSearchValCTA" placeholder="zipcode" style="padding:0px 8px; height:40px;width:80px;vertical-align:top;"> 
<button id="zipSearchSubmitCTA" type="submit" style="padding:8px;">
<i class="fa fa-search"></i> 
</button>
</form>
</div>
<div id="ORTxtBoxCTA">OR</div>
<div id="searchByStateBoxCTA">
<div id="selectedStateValCTA" style="padding:10px; display:inline-block; zoom:1;*display:inline;/*border:solid 1px #D0D0D0;*/width:120px;background-color:#FFF;">Choose a State</div>
<button class="dropdown-toggle" data-toggle="dropdown" style="padding:9px;">
    <span class="fa fa-chevron-down"></span>
</button>
<ul id="statesearchdropdownCTA" class="dropdown-menu">
<li id="7463" class="statevaloptcta">AK</li>
<li id="7462" class="statevaloptcta">AL</li>
<li id="7465" class="statevaloptcta">AR</li>
<li id="7464" class="statevaloptcta">AZ</li>
<li id="7466" class="statevaloptcta">CA</li>
<li id="7467" class="statevaloptcta">CO</li>
<li id="7468" class="statevaloptcta">CT</li>
<li id="7564" class="statevaloptcta">DC</li>
<li id="7469" class="statevaloptcta">DE</li>
<li id="7470" class="statevaloptcta">FL</li>
<li id="7471" class="statevaloptcta">GA</li>
<li id="7472" class="statevaloptcta">HI</li>
<li id="7482" class="statevaloptcta">IA</li>
<li id="7473" class="statevaloptcta">ID</li>
<li id="7474" class="statevaloptcta">IL</li>
<li id="7568" class="statevaloptcta">IN</li>
<li id="7483" class="statevaloptcta">KS</li>
<li id="7484" class="statevaloptcta">KY</li>
<li id="7485" class="statevaloptcta">LA</li>
<li id="7488" class="statevaloptcta">MA</li>
<li id="7487" class="statevaloptcta">MD</li>
<li id="7486" class="statevaloptcta">ME</li>
<li id="7489" class="statevaloptcta">MI</li>
<li id="7490" class="statevaloptcta">MN</li>
<li id="7581" class="statevaloptcta">MO</li>
<li id="7582" class="statevaloptcta">MS</li>
<li id="7491" class="statevaloptcta">MT</li>
<li id="7498" class="statevaloptcta">NC</li>
<li id="7501" class="statevaloptcta">ND</li>
<li id="7492" class="statevaloptcta">NE</li>
<li id="7494" class="statevaloptcta">NH</li>
<li id="7495" class="statevaloptcta">NJ</li>
<li id="7496" class="statevaloptcta">NM</li>
<li id="7493" class="statevaloptcta">NV</li>
<li id="7497" class="statevaloptcta">NY</li>
<li id="7502" class="statevaloptcta">OH</li>
<li id="7503" class="statevaloptcta">OK</li>
<li id="7504" class="statevaloptcta">OR</li>
<li id="7505" class="statevaloptcta">PA</li>
<li id="7521" class="statevaloptcta">RI</li>
<li id="7522" class="statevaloptcta">SC</li>
<li id="7523" class="statevaloptcta">SD</li>
<li id="7541" class="statevaloptcta">TN</li>
<li id="7542" class="statevaloptcta">TX</li>
<li id="7543" class="statevaloptcta">UT</li>
<li id="7562" class="statevaloptcta">VA</li>
<li id="7561" class="statevaloptcta">VT</li>
<li id="7563" class="statevaloptcta">WA</li>
<li id="7565" class="statevaloptcta">WV</li>
<li id="7566" class="statevaloptcta">WI</li>
 </ul>
</div>
<div class="clearDiv">&nbsp;</div>
</div>


<div id="topnavdonate" style="background-color:#C41230;">
<div style="color:#FFF;padding-bottom:10px;margin-left:auto;margin-right:auto;">
<div style="clear:both;height:10px;">&nbsp;</div>
Donate to a Participant: <div class="retcarriagemobile">&nbsp;</div><input type="text" id="searchFirstName" name="searchFirstName" placeholder="firstname" style="padding:8px;width:80px;color:#000;margin-bottom:5px;"> &nbsp; <input type="text" id="searchLastName" name="searchLastName" placeholder="lastname" style="padding:8px;width:80px;color:#000;margin-bottom:5px;">&nbsp;&nbsp;<a id="pfindperson" class="whitewhite-btn-small" href="javascript:void(0);" onclick="pfindDonation('person',1);">Search</a></div>
<div style="color:#FFF;padding-bottom:10px;margin-left:auto;margin-right:auto;">Donate to a Team:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="retcarriagemobile">&nbsp;</div><input type="text" id="searchTeam" name="searchTeam" placeholder="team name" style="padding:8px;width:180px;color:#000;margin-bottom:5px;">&nbsp;&nbsp;<a id="pfindteam" class="whitewhite-btn-small" href="javascript:void(0);" onclick="pfindDonation('team',1);">Search</a></div>
</div>


<div id="topnavlogin" style="background-color:#C41230;">
<div style="clear:both;height:10px;">&nbsp;</div>


<form id="login-form">
<input type="hidden" name="method" value="login">
<input type="text" id="username" name="user_name" placeholder="username" style="padding:8px;width:150px;color:#000;margin-bottom:5px;"> <div class="retcarriagemobile">&nbsp;</div>
<input type="password" id="password" name="password" placeholder="password" style="padding:8px;width:150px;color:#000;margin-bottom:5px;"><div class="retcarriagemobile">&nbsp;</div>
<!--<a id="loginbtn" class="whitewhite-btn-small" href="javascript:void(0);">Log In</a>-->
<input id="login-button" name="submit" type="submit" value="login" class="whitewhite-btn-small">
</form>
<div class="clearDiv">&nbsp;</div>
<div style="max-width:430px;min-width:320px;width:100%;margin:0 auto;">
<p style="float:right;margin-right:5px;"><a style="color:#FFF;font-size:12px;" href="SPageServer?pagename=CC_PasswordRecovery" target="_blank">forgot password?</a></p>
<div class="clearDiv">&nbsp;</div>
</div>

</div>

<div id="topnavothersubmenus">
<div ng-controller="siteNavMapController">




<div ng-if="menu.primary" ng-cloak class="ng-cloak" ng-repeat="menu in sitenavs">
<div class="primaryMNav">{{menu.title}} <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i>
<div class="clearDiv" style="height:8px;">&nbsp;</div>
<div class="subMNav" ng-if="menu.menus" style="width:100% !important;padding:0 !important;">
<div ng-repeat="submenu in menu.menus"><a ng-href="{{submenu.action}}">{{submenu.title}} &nbsp; &raquo;</a></div>
<div class="clearDiv" style="height:8px;">&nbsp;</div>
</div>
</div>
</div>

<style>
.primaryMNav,.subMNav {
    padding: 15px 0px 0px 0px;
}
</style>


<!--<div ng-if="menu.primary" ng-cloak class="ng-cloak" ng-repeat="menu in sitenavs">
<div class="primaryMNav">{{menu.title}} <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i></div>
</div>


<div class="clearDiv">&nbsp;</div>

<div ng-if="menu.primary" ng-cloak class="ng-cloak" ng-repeat="menu in sitenavs">
<div class="subMNav" ng-if="menu.menus">
<div ng-repeat="submenu in menu.menus"><a ng-href="{{submenu.action}}">{{submenu.title}} &nbsp; &raquo;</a></div>
</div>
</div>
<div class="clearDiv">&nbsp;</div>-->




</div>
</div>


</div>
</div>








<style>





</style>



<div class="clearDiv">&nbsp;</div>


              
        
        	<div id="so16_rowid1_b">
            <div class="centerDiv pageTitle">
            
            </div>
            </div>
                     
























<div class="clearDiv">&nbsp;</div>


<div class="centerDiv page-content">
<div id="actualContent"></div>







<h3>Your Participant Center Support inquiry has been successfully submitted.</h3>
<p>One of our Support Specialists will contact you to help resolve the problem or answer your question. Support Specialists are available Mon-Fri 9:00am-5:00pm (EST), except holidays. If your message is received outside of those hours someone will contact you the next business day.</p>
<p>If you are trying to reach the local Event staff, see the event coordinator's information below for their name, email, and phone number, or call 1-888-DIABETES.</p>
<p>Thank you,</p>
<p>ADA Participant Center Support Team</p>
<p>&nbsp;</p>
<h3>Contact Information:</h3>
<p>Name:    <br />
E-mail: </p>
<p>Team Name: <br />
Event Name: <br />
Event Date: <br />
Event Location: <br />
Event Coordinator: <br />
Coordinator's Phone: <br />
Coordinator's Email: </p>


</div>


<!-- patching Convio Bug missing closing tag on responsive local/national company top listing component-->



<div class="clearDiv">&nbsp;</div>

<div class="clearDiv">&nbsp;</div>






<div class="clearDiv">&nbsp;</div>








<div class="clearDiv">&nbsp;</div>

<div class="clearDiv">&nbsp;</div>





<div class="clearDiv">&nbsp;</div>
<div class="centerDiv">
<h2><strong>Our National Sponsors</strong></h2>
<!--<div class="ntl-sponsor"><a href="http://www.goldsgym.com/" target="_blank"><img src="../ws/tr/tr2014/img/national_team/golds-gym-logo-2014.png" alt="Golds Gym" style="max-width:180px" /></a></div>-->

<div class="ntl-sponsor"><a href="http://www.lillydiabetes.com/Pages/index.aspx" target="_blank"><img src="../ws/tr/tr2014/img/sponsors/lilly.png" alt="Lilly" /></a></div>
<div class="ntl-sponsor"><a href="http://www.primalwear.com/" target="_blank"><img src="../ws/tr/tr2014/img/sponsors/primal.png" alt="Primal Wear" /></a></div>

<div class="ntl-sponsor"><a href="http://www.goldsgym.com/" target="_blank"><img src="../ws/tr/tr2014/img/national_team/golds-gym-logo-2014.png" alt="Golds Gym" style="max-width:180px;width:80%;" /></a></div>


<!--<div class="ntl-sponsor"><a href="http://www.gomacro.com/" target="_blank"><img src="../ws/tr/tr2014/img/sponsors/gomacro.png" alt="Go Macro" /></a></div>-->
<!--<div class="ntl-sponsor"><a href="http://www.beewellforlife.com/" target="_blank"><img src="../ws/tr/tr2014/img/sponsors/beewell.png" alt="BeeWell" /></a></div>-->
<div class="clearDiv">&nbsp;</div>
</div>




<div class="clearDiv">&nbsp;</div>
<div class="greydiv">

<div class="centerDiv" style="padding:30px 10px;font-weight:bold;color:#FFF;font-size:16pt;"><div style="display:inline-block;zoom:1;*display:inline;width:50%;vertical-align:top;"><!--#--><span id="usrdefineinstatag" style="display:none;">stepoutdiabetes</span></div><div style="display:inline-block;zoom:1;*display:inline;width:50%;vertical-align:top;text-align:right;"><a href="https://www.facebook.com/adatourdecure" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>&nbsp;<a href="https://twitter.com/AmDiabetesAssn" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;<a href="https://www.pinterest.com/amdiabetesassn/step-out-walk-to-stop-diabetes/" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a>&nbsp;<a href="http://www.youtube.com/user/AmericanDiabetesAssn?utm_source=StepOut&utm_medium=SocialMedia&utm_campaign=YT" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>&nbsp;</div></div>
<div class="clearDiv">&nbsp;</div>
<div id="instafeedresult" class="owl-carousel" style="text-align:center;display:none;"></div>
<div class="clearDiv">&nbsp;</div>


<div class="centerDiv">
<div id="footerLeft">
<p style="font-size:12pt;"><strong>&copy; 2016 <a href="http://diabetes.org">American Diabetes Association</a></strong></p>
<p>The American Diabetes Association is the nation's leading 501(C)3 nonprofit charity providing diabetes research, information and advocacy.</p>
<p>Tour de Cure is the premier cycling fundraising event of the American Diabetes Association and the nation&#8217;s largest diabetes cycling event. This event is a unique opportunity for businesses, clubs, friends and families to come together to form teams with the vision of a life free of diabetes and all its burdens</p>
</div>
<div id="footerRight">

<div class="footerRightMenuLinks">
<div ng-controller="siteNavMapController">

<div ng-if="menu.primary" ng-cloak class="sitemapitem ng-cloak" ng-repeat="menu in sitenavs">
<div class="footerSiteMap">{{menu.title}} <i class="fa fa-chevron-down"></i></div>
<div class="footerSiteMapSub" ng-if="menu.menus">
<div ng-repeat="submenu in menu.menus"><a ng-href="{{submenu.action}}">{{submenu.title}} &nbsp; &raquo;</a></div>
</div>
</div>



</div>
</div>



<div class="clearDiv">&nbsp;</div>

</div>
<div class="clearDiv">&nbsp;</div>
</div>
</div>


<!-- modal popups -->
<div id="vwalkregpop" class="so-popout mfp-hide">
    <div class="magpopbanner" style="padding:15px;background-color:#C41230;border-top-right-radius:7px;border-top-left-radius:7px;margin-bottom:12px;font-size:16pt;font-weight:bold;color:#FFF;">How to be a Virtual Walker?</div>
    <div style="padding:12px;">
        <!--<h3 id="vwregH" style="font-size:14pt;"><strong>How to be a Virtual Walker?</strong></h3>-->
        <div id="vwregL">
        <img src="../ws/so/so2016/img/vwalkernew.jpg" border="0" style="max-width:205px;width:100%;height:auto;">
        </div>
    	<div id="vwregR">
    	<p style="font-size:11pt;">It's easy!</p>
    	<ul>
        <li style="font-size:11pt;">Click on the <strong>"Register"</strong> button located within the top of this page, </li>
        <li style="font-size:11pt;">Find the Step Out you&#8217;d like to participate in locally, and </li>
        <li style="font-size:11pt;">At the beginning of registering choose the VIRTUAL WALKER registration option.</li>
        </ul>
    	<p>That's it!</p>
    	<!--<p><a id="vwregnow" href="../site/SPageServer/?pagename=OUT_SO_SEARCH" class="redBtnLeftNav"><span style="color:#FFF;">Register Now</span></a>
    </p>-->
    </div>
	<div class="clearDiv">&nbsp;</div>
</div>
</div>

<div id="createteamcompanypop" class="so-popout mfp-hide">
    <div class="magpopbanner" style="padding:15px;background-color:#C41230;border-top-right-radius:7px;border-top-left-radius:7px;margin-bottom:12px;font-size:16pt;font-weight:bold;color:#FFF;">Create a Team
</div>
<div style="padding:12px;">
<div id="vwregL">
        <img src="../ws/so/so2016/img/vwalkernew.jpg" border="0" style="max-width:205px;width:100%;height:auto;">
</div>
<div id="vwregR">
<!--<h3 id="vwregH" style="font-size:14pt;"><strong>How to be a Virtual Walker?</strong></h3>-->
<p style="font-size:11pt;">You can create a team either through the <strong>"Register"</strong> button above where you'll first find the nearby event or by visiting the list of events associated with national company below.</p>
<p>Do not forget to associate your newly created team with this company.</p>
<!--<p><a id="vwregnow" href="../site/SPageServer/?pagename=OUT_SO_SEARCH" class="redBtnLeftNav"><span style="color:#FFF;">Register Now</span></a>
</p>-->
</div>
<div class="clearDiv">&nbsp;</div>
</div>
</div>

<div id="cvvpop" class="so-popout mfp-hide">
<div class="magpopbanner" style="padding:15px;background-color:#C41230;border-top-right-radius:7px;border-top-left-radius:7px;margin-bottom:12px;font-size:16pt;font-weight:bold;color:#FFF;">
<h2>Credit Card Verification Code</h2>
</div>
<div style="padding:12px;">
<p>The Verification Code is imprinted on credit cards to help merchants verify transactions when the actual card is not present, such as Internet purchases or donations. The merchant uses this number as part of the authorization process with the card issuer.</p>
<p>Please use the images below to locate the verification code for your card type.</p>
<p><strong><u>Visa, Master Card, and Discover</u></strong></p>
<img alt="Visa, Master Card, and Discover Verification Code " src="../ws/digitalmarketing/img/cvv1.jpg" border="0" align="left" />
<p>The verification code for Visa, Master Card, and Discover is a 3-digit number printed on the back of your card. It appears after the account number or last 4-digits of your account number, in the signature panel.</p>
<div style="clear:both;height:2px;">&nbsp;</div>
<img alt="American Express Verification Code" src="../ws/digitalmarketing/img/cvv2.jpg" border="0" align="left" />
<p><strong><u>American Express</u></strong></p>
<p>The American Express verification code is a 4-digit number printed on the front of your card. It appears above and to the right of the embossed account number.</p>
<div style="clear:both;height:1px;">&nbsp;</div>
</div>
</div>

<div id="joinlocalcompanyteampop" class="so-popout mfp-hide">
    <div class="magpopbanner" style="padding:15px;background-color:#C41230;border-top-right-radius:7px;border-top-left-radius:7px;margin-bottom:12px;font-size:16pt;font-weight:bold;color:#FFF;">Join a Team
</div>
<div style="padding:12px;">
<p style="font-size:11pt;">To join a team within this company, view the list of the available teams within this page and click on the team name or the <strong>"join"</strong> button next to it.</p>
<div class="clearDiv">&nbsp;</div>
</div>
</div>

<!-- registration gateway v2.0-->

<div id="gatewayReg" class="so-popout mfp-hide">
<div style="background-color:#C41230;color:#FFF;font-weight:bold;font-size:20pt;border-top-right-radius:8px;border-top-left-radius:8px;padding:30px;margin-bottom:12px;">Register</div>
<div id="evtDetailInfo" style="padding:10px"></div>
<div class="clearDiv">&nbsp;</div>
<!--<center>
<div id="createTeamTR" class="eqheight">
<center>
<a id="createTeamTRImgBtn" href="TRR?fr_tm_opt=new&pg=tfind&fr_id="><img src="../ws/so/so2015/img/createTeam.jpg" border="0" /></a>
</center>
<p>Create a new team and become a team captain.</p>
<p><a href="TRR?fr_tm_opt=new&pg=tfind&fr_id=" id="createTeamTRlink">Create a Team &raquo;</a></p>
</div>
<div id="joinTeamTR" class="eqheight">
<center>
<a id="joinTeamTRImgBtn" href="TRR?pg=tfind&fr_id="><img src="../ws/so/so2015/img/joinTeam.jpg" border="0" /></a>
</center>
<p>Find and join an existing team.</p>
<p><a href="TRR?pg=tfind&fr_id=" id="joinTeamTRlink">Join a Team &raquo;</a></p>
</div>
<div id="regIndividual" class="eqheight">
<center>
<a id="regIndTRImgBtn" href="TRR?fr_tm_opt=none&pg=tfind&fr_id="><img src="../ws/so/so2015/img/regIndividual.jpg" border="0" /></a>
</center>
<p>Participate on your own without joining a team.</p>
<p><a href="TRR?fr_tm_opt=none&pg=tfind&fr_id=" id="regIndTRlink">Register Individually &raquo;</a></p>
</div>
</center>
<div class="clearDiv" style="height:10px;">&nbsp;</div>
<div id="beVWalker">
<div id="beVWalkerImg">
<img src="../ws/so/so2015/img/vwalker_icon.jpg" />
</div>
<div id="beVWalkerTxt">
<h4><strong><span class="redText">Be</span> a Virtual Walker</strong></h4>
<p>Can't make it to your local event?</p>
<p>No problem! Register as virtual walker and participate from any location.</p>
<p><a id="regVirtualTRLink" href="TRR?fr_tm_opt=none&pg=tfind&fr_id=&vwalk=y">Go Virtual &raquo;</a></p>
</div>
<div class="clearDiv">&nbsp;</div>-->

<div id="createTRTeam" class="blueborderwhite-btn-cta">
<p class="CTAHighlighter"><strong>CREATE</strong> a new team</p>
<p>Become a captain of a new team.</p>
</div>

<div id="joinTRTeam" class="blueborderwhite-btn-cta">
<p class="CTAHighlighter"><strong>JOIN</strong> a team</p>
<p>Join a team already registered for this event.</p>
</div>

<div id="registerTRInd" class="blueborderwhite-btn-cta">
<p class="CTAHighlighter"><strong>REGISTER</strong> as an individual</p>
<p>Participate without associating with a team.</p>
</div>

<!--<div id="registerTRVWalker" class="blueborderwhite-btn-cta">
<p class="CTAHighlighter"><strong>BE</strong> a Virtual Walker</p>
<p>Participate from any location as a Virtual Walker.</p>
</div>-->

<div class="clearDiv" style="height:50px;">&nbsp;</div>

</div>
<!--<div class="clearDiv" style="height:50px;">&nbsp;</div>-->
</div>

<div class="clearDiv" style="height:1px;">&nbsp;</div>
<div id="routeData">test</div>
<div class="clearDiv" style="height:1px;">&nbsp;</div>





<div id="dhDEBUG" style="display:none;">
S4 id is: <span id="s4val">19</span><br />

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest Bootstrap 3.3.6 compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.27/angular-sanitize.min.js"></script>
<script src="../ws/js/jquery.magnific-popup.min.js"></script>
<script src="../ws/owl24/owl.carousel.min.js"></script>
<script src="../ws/js/jquery.cycle216.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/luminateExtend/1.7.1/luminateExtend.min.js"></script>


<!--[if lte IE 7]>
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
<![endif]-->


<!-- ADA Main JS -->
<script src="../ws/tr/tr2017/js/tc2017r5c.min.js"></script>

<script type="text/javascript">
JQTC(document).ready(function(){








});

function replaceThatSOImg(){
if(JQTC('#cstm-img').length > 0){
var currpersonalimgsrc = JQTC('#cstm-img').attr('src');
if(currpersonalimgsrc.indexOf('ws/so/so2016/img/default-personal-img.jpg') != -1){
JQTC('#cstm-img').attr('src','../images/friendraiser_uploads/1215734294.custom.jpg');	
}
}
}


function buildMyNatCompRank(whichCompID){
	var jsonRankURL = "../ws/tr/tr2017/natcomp/json/"+whichCompID+".json";
	
		var buildTbl = '<br /><h4 style="font-size:11pt;"><strong>Team Ranking on Completed Events</strong></h4><table class="lc_Table table" style="border: none !important;"><tr><th class="lc_Heading" style="padding:3px;width:20px" >&nbsp;</th><th class="lc_Heading" style="padding:3px;">Team Name</th><th class="lc_Heading" style="padding:3px;">Captain</th><th class="lc_Heading" style="padding:3px;">Fundraising Total</th><th class="lc_Heading" style="padding:3px;" >Event Name</th></tr>';
	JQTC.getJSON(jsonRankURL, function(data){	
		var counter=1;
		var len;
		var myFtotalSum=0;		
		for (var i=0, len=data.length; i < len; i++) {
			//console.log(data[i].TeamName);
			var FtotalToNumber = Number(data[i].FT.replace(/[^0-9\.]+/g,""));			
			myFtotalSum = myFtotalSum + FtotalToNumber;			
			
			buildTbl +='<tr class="lc_Row0"><td style="padding:0px;width:20px">'+counter+'</td><td style="padding:0px;">'+data[i].TeamName+'</td><td style="padding:0px;">'+data[i].Captain+'</td><td style="padding:0px;">'+data[i].FT+'</td><td style="padding:0px;">'+data[i].EvtName+'</td></tr>';	
			counter++;	
		}	
		
		buildTbl +='<tr class="lc_Row0"><td style="padding:0px;width:20px"><strong>Total:</strong></td><td>&nbsp;</td><td>&nbsp;</td><td style="padding:0px;"><strong>'+currencyFormat(myFtotalSum)+'</strong></td><td style="padding:0px;">&nbsp;</td></tr>';
		
//append that matching if applicable
		


buildTbl+='</table>';

JQTC('#topnatcteamresult').html(buildTbl);
		
		//hide it for now
		//JQTC('#topnatcteamresult').hide();
	});
}


function currencyFormat (num) {
    return "$" + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
}


</script>

<style>
#topnatcteamresult{overflow:auto;}
td{font-size:10pt;}
</style>


<script type="text/javascript">
if(window.console){
console.log(jQuery.fn.jquery);
console.log($.fn.jquery);
console.log(JQTC.fn.jquery);
}
</script>

<script type="text/javascript"> 
var $buoop = {c:2}; 
function $buo_f(){ 
 var e = document.createElement("script"); 
 e.src = "//browser-update.org/update.min.js"; 
 document.body.appendChild(e);
};
try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
catch(e){window.attachEvent("onload", $buo_f)}
</script>

</body>

</html>
